.container {
  margin: 2rem auto;
  width: 100%;
  height: min-content;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  white-space: nowrap;
  animation: loop 30s linear infinite;
}

@keyframes loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
