.container {
  display: flex;
  margin: 3rem auto 2rem;
  width: 100%;
  height: min-content;
  overflow: hidden;
  white-space: nowrap;
}

.scroll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  white-space: nowrap;
  animation: loop 20s linear infinite;
  transition: transform 0.5s ease-in-out;
}

@keyframes loop {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
