.page {
  --gray-rgb: 255, 255, 255;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

  --button-primary-hover: #ccc;
  --button-secondary-hover: #1a1a1a;
  font-family: var(--font-geist-sans);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: calc(100vh - 5rem);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  /*background-color: #312f2f;*/
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  position: relative;
}

.mainImage {
  border-radius: 16px;
  margin-bottom: 2rem;
}

.paragraph {
  max-width: 900px;
  line-height: 1.5;
  letter-spacing: 1.3px;
  margin: 2rem 0 0;

}
