.container {
  margin: 0 auto;
  height: 5rem;
  width: 100%;
  max-width: 1280px;
  padding: .25rem;
  padding-bottom: 0;
  display: flex;
  align-items: end;


  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  li {
    width: 280px;
    background-color: #171717;
    // border: 2px solid #ccc;
    // border-bottom: none;
    border-radius: 8px 8px 0 0;
    padding: 1rem;
    box-shadow: 5px -5px 4px 4px rgba(67, 62, 62, .8);
    text-align: center;
    cursor: pointer;
  }
}
