.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 120px;
  height: 115px;
}


.title {
  width: 100%;
  text-align: center;
}
